@import ../../../_variables

header
    background-color: $ligth-gray
    .header-content
        margin: auto
        padding: 10px 0px
        width: 90%
        img
            max-width: 150px
            height: auto