@import ./_reset
@import ./_variables

// CSS Tags

body
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    

// CSS clasName

.btn-primary
    color: #fff
    background: #000