@import ./_reset
@import ./_variables

// CSS Tags

body
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif


// CSS clasName

.content
    margin: auto
    padding: 50px 0px
    width: 80%

.btn-primary
    color: #fff
    background: $dark-gray

.card
    display: grid
    grid-gap: 20px
    img
        width: 100%
        max-width: 180px
        height: auto
    p
        color: #000